﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SD File to JSON Parser Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="page-header">
                <h1> SD File to JSON Parser</h1>
            </div>

        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <div class="row">
            <hr />
        </div>
        <footer>
            <p>&copy; @DateTime.Now.Year - SD File to JSON Parser Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/Parser.js")
    @RenderSection("scripts", required: false)
</body>
</html>
