﻿@{
    ViewBag.Title = "Home Page";
}

        <div class="row">

            <div class="panel panel-default">
                <div class="panel-heading"><h4>Select SD file</h4></div>
                <div class="panel-body">
                   
                        <div class="form-group">
                            <input type="file" class="btn btn-default btn-block" id="inputFile" accept=".sdf ,.SDF">
                        </div>
                        <div class="form-group">
                            <input type="button" class="btn btn-default" disabled="disabled" id="submitFile" value="Parse SD File">
                        </div>
                   
                </div>
            </div>
        </div>


        <div class="row">
            <div class="panel panel-default ">
                <div class="panel-heading">Records</div>
                <div class="panel-body">
                    <div id="recordsContainer" class="overflow-auto">
                        <div id="recordsList" class="list-group">
                            
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default ">
                <div class="panel-heading">Record Properties</div>
                <div class="panel-body">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search" id="pattern">
                            <div class="input-group-btn">
                                <button id="search" class="btn btn-default" type="submit" disabled>
                                    <i class="glyphicon glyphicon-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div id="propertiesContainer" class="overflow-auto">
                    </div>
                    
                    
                    </div>
                </div>


                <div class="panel panel-default ">
                    <div class="panel-heading">Record Image</div>
                    <div class="panel-body">
                        <div id="imageContainer" class="overflow-auto">
                            <img  />
                        </div>
                    </div>
                </div>

            
        </div>
 